<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    
    <div id="chatMessages">
        {{#each messages}}
            <div>{{this}}</div>
        {{/each}}
    </div>

    <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Escribe tu mensaje..." />
        <button type="submit">Enviar</button>
    </form>

    <script id="message-template" type="text/x-handlebars-template">
        <div>{{message}}</div>
    </script>

    <script>
        document.getElementById('messageForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value.trim();

            if (message !== '') {
                const chatMessages = document.getElementById('chatMessages');
                const messageTemplate = document.getElementById('message-template').innerHTML;
                const compiledTemplate = Handlebars.compile(messageTemplate);
                const newMessageHTML = compiledTemplate({ message });
                chatMessages.insertAdjacentHTML('beforeend', newMessageHTML);

                messageInput.value = '';
            }
        });
    </script>
</body>
</html>

